*{
	margin: 0;
	padding: 0;
	outline: none;
}
html, body{
	height: 100%;
	width: 100%;
	font-family: Helvetica;
}
.general{
	height: 100%;
	background-color: #F1F3CE;
	position: relative;
}
.encabezado{
	padding: 20px;
	color: white;
	background: #00293C;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.logo{
	font-weight: 400;
}
.modal{
	height: 500px;
	width: 400px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	border: .5px gray solid;
	background-color: #EEECEC;
	margin: 30px 0px 0px calc((100% - 400px)/2);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sesion{	
	width: 90%;
	padding: 10px;
	border-bottom: .5px solid gray;
	text-align: center;
}
h2{
	font-weight: lighter;
}
#redes{
	padding: 30px;
	box-sizing: border-box;
}
.imagen{
	height: 100%;
}
button{
	height: 40px;
	width: 190px;
	padding: 5px;	
	box-sizing: border-box;
	border-radius: 5px;
	border: .5px gray solid;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.boton{
	background-color: #B71F1F;
}
#facebook{
	margin-top: 10px;
	background-color: #2A49B1;
}
h3{
	font-weight: lighter;
	font-size: 20px;
}
.o{
	height: 15px;
	width: calc(100% - 10px);
	padding-top: 15px;	
}
.login{
	height: 250px;
	padding-top: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
input{
	height: 40px;
	width: 300px;
	padding: 5px;	
	box-sizing: border-box;
	border-radius: 5px;
	border: .5px gray solid;
}
#iniciar{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
#recuperar{
	margin-top: -10px;
}
#recuperar>a{
	text-decoration: none;
}
.general2{
	height: 100%;
	background-color: #F1F3CE;
}
.menu{
	width: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#user{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#user>img{
	
	height: 30px;
}
.cuerpo{
	display: flex;
	flex-direction: column;
}
.buscar{
	width: 100%;
	border-bottom: .5px solid gray;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
}
.buscar>input{
	width: 500px;
}
.filtros{
	width: 100%;
	border-bottom: .5px solid gray;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
.filtro{
	width: 120px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 10px;
	border: .5px gray solid;
	margin-right: 40px;
	background-color: white;
	text-align: center;
}
.central{
	width: 100%;
	padding: 30px 0 30px 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.central2{
	padding: 30px 0 30px 20px;
	width: 98%;
	height: 450px;
	text-align: center;
}
.alojamientos{
	width: 50%;
	max-height: 450px;
	/*box-sizing: border-box;*/
/*display: flex;
	//flex-direction: column;*/
	overflow-y: scroll;
}
.alojamiento{
	height: 200px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border: .5px gray solid;
	margin-top: 10px;
	background-color: white;
	text-align: center;
	font-size: 60px;
	cursor: pointer;
}

.alojamiento:hover{
	cursor: pointer;
	box-shadow: 2px 3px #ccc;
}



/* Vista Registro Huesped */

.vista_izquierda{
	max-width: 50%;
	height: 80%;
	float: left;
}
.vista_derecha{
	width: 30%;
	height: 80%;
	float: right;
	padding: 2% 10%;
}

.divs_registro{
	width: 100%;
	margin-bottom: 10px;
}

.inputs{
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px rgba(216, 216, 216, 0.507);
	border-radius: 5px;
	font-size: 14px;
	padding: 0px 10px;
}

.inputs:hover{
	cursor: pointer;
	height: 32px;
	background-color: honeydew;
	margin-top: -2px;
	transition: .2s;
}

.btn_success{
	width: 150px;
	height: 35px;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	color: white;
	background-color: rgb(12, 82, 12);
}

.btn_success:hover{
	background-color: rgba(12, 82, 12, 0.74);
	box-shadow: 1px 1px #ccc;
	transition: .3s;
}

.btn_danger{
	width: 150px;
	height: 35px;
	border-radius: 5px;
	border: 0px;
	font-size: 16px;
	cursor: pointer;
	color: white;
	background-color: rgb(145, 11, 11);
}

.btn_danger:hover{
	background-color: rgba(145, 11, 11, 0.767);
	box-shadow: 1px 1px #ccc;
	transition: .3s;
}

/* ESTILOS PARA MOSTRAR EL LISTADO DE ALOJAMIENTOS */

.imgAlojamiento{
	width: 25%;
	height: 100%;
	float: left;
}
.infoAlojamiento{
	width: 70%;
	height: 100%;
	float: right;
	padding: 10px;
	font-size: 14px;
	text-align: start;
}
.nombreAlojamiento{
	width: 100%;
	height: auto;
	font-size: 17px;
	color: #000;
	margin-bottom: 5px;
}

.direccionAlojamiento{
	width: 100%;
	height: auto;
	color: #ccc;
	margin-bottom: 5px;
}

/* Estilos VISTA DETALLES ALOJAMIENTO  */
.detalles{
	width: 100%;
	max-height: 450px;
}


.right-panel{
	width: 45%;
	padding: 10px;
	height: auto;
	float: right;
	overflow-y: scroll;
}

.left-panel{
	width: 45%;
	padding: 10px;
	height: 90%;
	float: left;
	overflow-y: scroll;
}

.imgAlojSelec{
	width: 100%;
	height: 70%;
}


/*  ESTILOS NUEVO ALOJAMIENTO */

.central2{
	width: 100%;
	padding: 30px;
	height: 500px;
	border-radius: 5px;
	text-align: center;
}

.agregarAloj{
	width: 90%;
	padding: 30px;
	height: 520px;
	margin: 50px 3%;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #ccc;
	vertical-align: top;
	justify-content:center !important;
	overflow-y: scroll;
}

.divs_inputs{
	width: 32%;
	height: auto;
	margin-bottom: 10px;
	float: left;
}

.inputs_aloj{
	width: 100%;
	border: 1px solid #ccc;
	height: 35px;
	font-size: 15px;
	box-shadow: 1px 1px #ccc;
	padding-left: 10px;
	border-radius: 5px;
}